//////Logo
.logo {
	height: 3.25rem;
	margin-left: 3rem;
}

/////Search
.search {
	flex: 0 0 40%;
	display: flex;
	align-items:
	&__input {
		font-family: inherit;
		font-size: inherit;
		color: inherit;
		background-color: var(--color-grey-light-2);
		padding: 1rem 2rem;
		border-radius: 100px;
		width: 90%;
		border: none;
		transition: all 0.3s;
		margin-right: -3.5rem;
		&:focus {
			outline: none;
			width: 100%;
			background-color: var(--color-grey-light-3);
		}
	}

	&__button {
		border: none;
		background-color: var(--color-grey-light-2);

		&:focus {
			outline: none;
		}

		&:active {
			transform: translateY(3px);
		}
	}

	&__icon {
		height: 2rem;
		width: 2rem;
	}
}

////User Navigation

.user-nav {
	&__icon-box {
	}

	&__icon {
		height: 2.5rem;
		width: 2.5rem;
	}

	&__notification {
	}

	&__user {
	}

	&__user-photo {
		height: 4rem;
		border-radius: 50%;
	}

	&__user-name {
	}
}
