.container {
	max-width: 120rem;
	margin: 8rem auto; //to center the container to relative to body
	background-color: var(--color-grey-light-2);
	box-shadow: var(--shadow-dark);
	min-height: 50rem;
}

.header {
}

.sidebar {
}

.hotel-view {
}
